* {
  box-sizing: border-box;
}

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #ffffff;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

.nav-link {
  padding-top: 30px;
  color: #999;
  text-decoration: none;
}
.nav-item {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  /*I'm not sure how to make the border not extend to the top */
 
}

.nav-item:first-child {
  border-left: 0 none;
}

#footer-cont {
  width: 100%;
  overflow: auto;
  position: fixed;
  color: #ffffff;
  background: #4aaaa5;
  border-top: 2px solid #cccccc;
  top: 91%;
  height: 10%;

}

#copyright {
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 42%;
}

#main-cont {
  width: 90%;
  position: relative;
  top: 10px;
  min-height: 533px;
  height: auto;
  border: 2px solid #cccccc;
}

h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 3px solid #cccccc;
  padding: 9px;
}

@media screen and (min-width: 400px) {
  /* header */
  #header-cont {
    width: 100%;
    padding: 0px;
  }

  #masthead {
    width: 100%;
    height: 13%;
    min-height: 112.44px;
    position: static;
    margin: 0;
  }

  #logo {
    width: 100%;
  }

  #navigation {
    padding-right: 18%;
    padding-bottom: 4%;
  }

}



@media screen and (min-width: 768px) {
  /* header */

  #header-cont{
    height: auto;
    padding-left: 20px;
  }

  #masthead {
    height: 11%;
    max-height: 73px;
  }

  #logo {
    width: 58%;
    height: 128px;
    line-height: 112px;
    font-size: 166%;
  }

  #navigation {
    font-size: 89%;
    line-height: 20px;
    font-weight: lighter;
    padding-right: 4%;
    padding-top: 2%;
  }

  #copyright {
    padding-top: 3%;
    
  }
}

@media screen and (min-width: 992px) {
  /* header */
  #masthead {
    position: relative;
  }

  #logo {
    font-size: 150%;
    width: 54%;
  }

  #navigation {
    font-size: 100%;
    font-weight: 400;
  }
  #copyright {
    padding-top: 2%;
    
  }
}

@media screen and (min-width: 1200px) {
  /* header */
  #masthead {
    position: relative;
  }

  #logo {
    font-size: 167%;
    width: 48%;
  }

  #navigation {
    font-size: 124%;
    padding-right: 6%;
  }
}
